%h1
  Route Generator

.row
  .col-md-4
    = form_for :route, :url => {:action => "plot" }, remote: :true do |f|
      .form-group
        = f.label :total_cities
        = f.select :total_cities, @total_fans, {}, {:class => "form-control"}
      .form-group
        = f.label :start
        = f.select :start, @cities, {}, {:class => "form-control"}
      .form-group
        = f.label :finish
        = f.select :finish, @cities, {}, {:class => "form-control"}
      = f.submit :submit
  .col-md-8
    #map
      #map-canvas{ data: { fans: @fans_json, waypoints: @waypoints_json }}