<h1><%= @artist.name %></h1>
<% if current_fan %>
  <div id='request'>
    <% if current_fan.artists.exclude? @artist %>
      <%= link_to 'Request', requests_path(artist: @artist.id), method: :post,  remote: true %>
    <% else %>
      <%= link_to 'Cancel Request', request_path(@request, artist: @artist.id), method: :delete, remote: true  %>
    <% end %>
  </div>
<% end %>
<p><%= @artist.bio %></p>
<% if current_fan %>
  <p><%= "#{@fans_city[0]}: #{@fans_city[1]}" %></p>
<% end %>
<ul id="cities">
  <% @cities.each do |c| %>
    <li><%= "#{c[0]}: #{c[1]}" %></li>
  <% end %>
</ul>