<!DOCTYPE html>
<html>
<head>
  <title>GoTour</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <%= javascript_include_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <%= csrf_meta_tags %>
</head>
  <body>

    <%= render 'layouts/nav' %>
    <%= render 'layouts/sign_in_modal' %>
    <% if notice %>
      <div class="notice"><%= notice %></div>
    <% elsif alert %>
      <div class="alert"><%= alert %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc0RiaLTMHh65gGfGdOElLdqqusPtv66M&callback=initMap">
    </script>

  </body>
</html>
